<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" class="form-control">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" class="form-control">
           <option value=""></option>
           <option value=""></option>
           <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="imageUrl">imageUrl</label>
        <input type="text" id="imageUrl" class="form-control">
    </div>
    <button class="btn btn-primary">Add Products</button>
</form>
